include .github/tools/install-fftw.sh
include .github/tools/install-intel-oneapi.sh
include .github/tools/install-mpi.sh
include .github/tools/install-nvhpc.sh
include .github/tools/reduce-output.sh
include .github/workflows/build.yml
include AUTHORS
include CMakeLists.txt
include LICENSE
include README.md
include VERSION
include cmake/ectrans-import.cmake.in
include cmake/ectrans_compile_options.cmake
include cmake/ectrans_find_lapack.cmake
include cmake/ectrans_macros.cmake
include cmake/ectrans_target_fortran_module_directory.cmake
include cmake/project_summary.cmake
include src/CMakeLists.txt
include src/etrans/CMakeLists.txt
include src/etrans/biper/external/etibihie.F90
include src/etrans/biper/external/fpbipere.F90
include src/etrans/biper/external/horiz_field.F90
include src/etrans/biper/include/etibihie.h
include src/etrans/biper/include/fpbipere.h
include src/etrans/biper/include/horiz_field.h
include src/etrans/biper/internal/esmoothe_mod.F90
include src/etrans/biper/internal/espline_mod.F90
include src/etrans/biper/internal/ewindowe_mod.F90
include src/etrans/biper/internal/extper_mod.F90
include src/etrans/etrans/aux/ellips.F90
include src/etrans/etrans/aux/ellips.h
include src/etrans/etrans/aux/ellips64.F90
include src/etrans/etrans/external/edir_trans.F90
include src/etrans/etrans/external/edir_transad.F90
include src/etrans/etrans/external/edist_grid.F90
include src/etrans/etrans/external/edist_spec.F90
include src/etrans/etrans/external/egath_grid.F90
include src/etrans/etrans/external/egath_spec.F90
include src/etrans/etrans/external/egpnorm_trans.F90
include src/etrans/etrans/external/einv_trans.F90
include src/etrans/etrans/external/einv_transad.F90
include src/etrans/etrans/external/esetup_trans.F90
include src/etrans/etrans/external/especnorm.F90
include src/etrans/etrans/external/etrans_end.F90
include src/etrans/etrans/external/etrans_inq.F90
include src/etrans/etrans/external/etrans_release.F90
include src/etrans/etrans/include/edir_trans.h
include src/etrans/etrans/include/edir_transad.h
include src/etrans/etrans/include/edist_grid.h
include src/etrans/etrans/include/edist_spec.h
include src/etrans/etrans/include/egath_grid.h
include src/etrans/etrans/include/egath_spec.h
include src/etrans/etrans/include/egpnorm_trans.h
include src/etrans/etrans/include/einv_trans.h
include src/etrans/etrans/include/einv_transad.h
include src/etrans/etrans/include/esetup_trans.h
include src/etrans/etrans/include/especnorm.h
include src/etrans/etrans/include/etrans_end.h
include src/etrans/etrans/include/etrans_inq.h
include src/etrans/etrans/include/etrans_release.h
include src/etrans/etrans/internal/cpl_int_mod.F90
include src/etrans/etrans/internal/easre1ad_mod.F90
include src/etrans/etrans/internal/easre1b_mod.F90
include src/etrans/etrans/internal/easre1bad_mod.F90
include src/etrans/etrans/internal/edealloc_resol_mod.F90
include src/etrans/etrans/internal/edir_trans_ctl_mod.F90
include src/etrans/etrans/internal/edir_trans_ctlad_mod.F90
include src/etrans/etrans/internal/edist_spec_control_mod.F90
include src/etrans/etrans/internal/efsc_mod.F90
include src/etrans/etrans/internal/efscad_mod.F90
include src/etrans/etrans/internal/eftdir_ctl_mod.F90
include src/etrans/etrans/internal/eftdir_ctlad_mod.F90
include src/etrans/etrans/internal/eftdirad_mod.F90
include src/etrans/etrans/internal/eftinv_ctl_mod.F90
include src/etrans/etrans/internal/eftinv_ctlad_mod.F90
include src/etrans/etrans/internal/eftinvad_mod.F90
include src/etrans/etrans/internal/egath_spec_control_mod.F90
include src/etrans/etrans/internal/einv_trans_ctl_mod.F90
include src/etrans/etrans/internal/einv_trans_ctlad_mod.F90
include src/etrans/etrans/internal/eledir_mod.F90
include src/etrans/etrans/internal/eledirad_mod.F90
include src/etrans/etrans/internal/eleinv_mod.F90
include src/etrans/etrans/internal/eleinvad_mod.F90
include src/etrans/etrans/internal/eltdir_ctl_mod.F90
include src/etrans/etrans/internal/eltdir_ctlad_mod.F90
include src/etrans/etrans/internal/eltdir_mod.F90
include src/etrans/etrans/internal/eltdirad_mod.F90
include src/etrans/etrans/internal/eltinv_ctl_mod.F90
include src/etrans/etrans/internal/eltinv_ctlad_mod.F90
include src/etrans/etrans/internal/eltinv_mod.F90
include src/etrans/etrans/internal/eltinvad_mod.F90
include src/etrans/etrans/internal/eprfi1_mod.F90
include src/etrans/etrans/internal/eprfi1ad_mod.F90
include src/etrans/etrans/internal/eprfi1b_mod.F90
include src/etrans/etrans/internal/eprfi1bad_mod.F90
include src/etrans/etrans/internal/eprfi2_mod.F90
include src/etrans/etrans/internal/eprfi2ad_mod.F90
include src/etrans/etrans/internal/eprfi2b_mod.F90
include src/etrans/etrans/internal/eprfi2bad_mod.F90
include src/etrans/etrans/internal/eset_resol_mod.F90
include src/etrans/etrans/internal/esetup_dims_mod.F90
include src/etrans/etrans/internal/esetup_geom_mod.F90
include src/etrans/etrans/internal/espnorm_ctl_mod.F90
include src/etrans/etrans/internal/espnormc_mod.F90
include src/etrans/etrans/internal/espnormd_mod.F90
include src/etrans/etrans/internal/espnsde_mod.F90
include src/etrans/etrans/internal/espnsdead_mod.F90
include src/etrans/etrans/internal/eupdsp_mod.F90
include src/etrans/etrans/internal/eupdspad_mod.F90
include src/etrans/etrans/internal/eupdspb_mod.F90
include src/etrans/etrans/internal/eupdspbad_mod.F90
include src/etrans/etrans/internal/euvtvd_comm_mod.F90
include src/etrans/etrans/internal/euvtvd_mod.F90
include src/etrans/etrans/internal/euvtvdad_mod.F90
include src/etrans/etrans/internal/evdtuv_mod.F90
include src/etrans/etrans/internal/evdtuvad_comm_mod.F90
include src/etrans/etrans/internal/evdtuvad_mod.F90
include src/etrans/etrans/internal/suefft_mod.F90
include src/etrans/etrans/internal/suemp_trans_mod.F90
include src/etrans/etrans/internal/suemp_trans_preleg_mod.F90
include src/etrans/etrans/internal/suemplat_mod.F90
include src/etrans/etrans/internal/suemplatb_mod.F90
include src/etrans/etrans/internal/suestaonl_mod.F90
include src/etrans/etrans/internal/tpmald_dim.F90
include src/etrans/etrans/internal/tpmald_distr.F90
include src/etrans/etrans/internal/tpmald_fft.F90
include src/etrans/etrans/internal/tpmald_fields.F90
include src/etrans/etrans/internal/tpmald_geo.F90
include src/etrans/etrans/internal/tpmald_tcdis.F90
include src/ectrans4py/py_interface/transforms4py.F90
include src/programs/CMakeLists.txt
include src/programs/ectrans-benchmark.F90
include src/programs/ectrans-lam-benchmark.F90
include src/programs/ectrans.in
include src/trans/CMakeLists.txt
include src/trans/algor/bluestein_mod.F90
include src/trans/algor/butterfly_alg_mod.F90
include src/trans/algor/fft992.F90
include src/trans/algor/fft992_cc.F90
include src/trans/algor/interpol_decomp_mod.F90
include src/trans/algor/seefmm_mix.F90
include src/trans/algor/set99.F90
include src/trans/algor/set99b.F90
include src/trans/algor/wts500_mod.F90
include src/trans/external/dir_trans.F90
include src/trans/external/dir_transad.F90
include src/trans/external/dist_grid.F90
include src/trans/external/dist_grid_32.F90
include src/trans/external/dist_spec.F90
include src/trans/external/gath_grid.F90
include src/trans/external/gath_grid_32.F90
include src/trans/external/gath_spec.F90
include src/trans/external/get_current.F90
include src/trans/external/gpnorm_trans.F90
include src/trans/external/ini_spec_dist.F90
include src/trans/external/inv_trans.F90
include src/trans/external/inv_transad.F90
include src/trans/external/setup_trans.F90
include src/trans/external/setup_trans0.F90
include src/trans/external/specnorm.F90
include src/trans/external/sugawc.F90
include src/trans/external/trans_end.F90
include src/trans/external/trans_inq.F90
include src/trans/external/trans_pnm.F90
include src/trans/external/trans_release.F90
include src/trans/external/vordiv_to_uv.F90
include src/trans/include/ectrans/dir_trans.h
include src/trans/include/ectrans/dir_transad.h
include src/trans/include/ectrans/dist_grid.h
include src/trans/include/ectrans/dist_grid_32.h
include src/trans/include/ectrans/dist_spec.h
include src/trans/include/ectrans/gath_grid.h
include src/trans/include/ectrans/gath_grid_32.h
include src/trans/include/ectrans/gath_spec.h
include src/trans/include/ectrans/get_current.h
include src/trans/include/ectrans/gpnorm_trans.h
include src/trans/include/ectrans/ini_spec_dist.h
include src/trans/include/ectrans/inv_trans.h
include src/trans/include/ectrans/inv_transad.h
include src/trans/include/ectrans/setup_trans.h
include src/trans/include/ectrans/setup_trans0.h
include src/trans/include/ectrans/specnorm.h
include src/trans/include/ectrans/sugawc.h
include src/trans/include/ectrans/trans_end.h
include src/trans/include/ectrans/trans_inq.h
include src/trans/include/ectrans/trans_pnm.h
include src/trans/include/ectrans/trans_release.h
include src/trans/include/ectrans/vordiv_to_uv.h
include src/trans/internal/abort_trans_mod.F90
include src/trans/internal/asre1_mod.F90
include src/trans/internal/asre1ad_mod.F90
include src/trans/internal/asre1b_mod.F90
include src/trans/internal/asre1bad_mod.F90
include src/trans/internal/cdmap_mod.F90
include src/trans/internal/cpledn_mod.F90
include src/trans/internal/dealloc_resol_mod.F90
include src/trans/internal/dir_trans_ctl_mod.F90
include src/trans/internal/dir_trans_ctlad_mod.F90
include src/trans/internal/dist_grid_32_ctl_mod.F90
include src/trans/internal/dist_grid_ctl_mod.F90
include src/trans/internal/dist_spec_control_mod.F90
include src/trans/internal/eq_regions_mod.F90
include src/trans/internal/field_split_mod.F90
include src/trans/internal/fourier_in_mod.F90
include src/trans/internal/fourier_inad_mod.F90
include src/trans/internal/fourier_out_mod.F90
include src/trans/internal/fourier_outad_mod.F90
include src/trans/internal/fsc_mod.F90
include src/trans/internal/fscad_mod.F90
include src/trans/internal/fspgl_int_mod.F90
include src/trans/internal/ftdir_ctl_mod.F90
include src/trans/internal/ftdir_ctlad_mod.F90
include src/trans/internal/ftdir_mod.F90
include src/trans/internal/ftdirad_mod.F90
include src/trans/internal/ftinv_ctl_mod.F90
include src/trans/internal/ftinv_ctlad_mod.F90
include src/trans/internal/ftinv_mod.F90
include src/trans/internal/ftinvad_mod.F90
include src/trans/internal/gath_grid_32_ctl_mod.F90
include src/trans/internal/gath_grid_ctl_mod.F90
include src/trans/internal/gath_spec_control_mod.F90
include src/trans/internal/gawl_mod.F90
include src/trans/internal/gpnorm_trans_ctl_mod.F90
include src/trans/internal/inigptr_mod.F90
include src/trans/internal/inv_trans_ctl_mod.F90
include src/trans/internal/inv_trans_ctlad_mod.F90
include src/trans/internal/ldfou2_mod.F90
include src/trans/internal/ldfou2ad_mod.F90
include src/trans/internal/ledir_mod.F90
include src/trans/internal/ledirad_mod.F90
include src/trans/internal/leinv_mod.F90
include src/trans/internal/leinvad_mod.F90
include src/trans/internal/ltdir_ctl_mod.F90
include src/trans/internal/ltdir_ctlad_mod.F90
include src/trans/internal/ltdir_mod.F90
include src/trans/internal/ltdirad_mod.F90
include src/trans/internal/ltinv_ctl_mod.F90
include src/trans/internal/ltinv_ctlad_mod.F90
include src/trans/internal/ltinv_mod.F90
include src/trans/internal/ltinvad_mod.F90
include src/trans/internal/myrecvset_mod.F90
include src/trans/internal/mysendset_mod.F90
include src/trans/internal/pe2set_mod.F90
include src/trans/internal/pre_suleg_mod.F90
include src/trans/internal/prepsnm_mod.F90
include src/trans/internal/prfi1_mod.F90
include src/trans/internal/prfi1ad_mod.F90
include src/trans/internal/prfi1b_mod.F90
include src/trans/internal/prfi1bad_mod.F90
include src/trans/internal/prfi2_mod.F90
include src/trans/internal/prfi2ad_mod.F90
include src/trans/internal/prfi2b_mod.F90
include src/trans/internal/prfi2bad_mod.F90
include src/trans/internal/read_legpol_mod.F90
include src/trans/internal/set2pe_mod.F90
include src/trans/internal/set_resol_mod.F90
include src/trans/internal/setup_dims_mod.F90
include src/trans/internal/setup_geom_mod.F90
include src/trans/internal/shuffle_mod.F90
include src/trans/internal/spnorm_ctl_mod.F90
include src/trans/internal/spnormc_mod.F90
include src/trans/internal/spnormd_mod.F90
include src/trans/internal/spnsde_mod.F90
include src/trans/internal/spnsdead_mod.F90
include src/trans/internal/sufft_mod.F90
include src/trans/internal/sugaw_mod.F90
include src/trans/internal/suleg_mod.F90
include src/trans/internal/sump_trans0_mod.F90
include src/trans/internal/sump_trans_mod.F90
include src/trans/internal/sump_trans_preleg_mod.F90
include src/trans/internal/sumplat_mod.F90
include src/trans/internal/sumplatb_mod.F90
include src/trans/internal/sumplatbeq_mod.F90
include src/trans/internal/sumplatf_mod.F90
include src/trans/internal/supol_mod.F90
include src/trans/internal/supolf_mod.F90
include src/trans/internal/sustaonl_mod.F90
include src/trans/internal/sutrle_mod.F90
include src/trans/internal/suwavedi_mod.F90
include src/trans/internal/tpm_constants.F90
include src/trans/internal/tpm_ctl.F90
include src/trans/internal/tpm_dim.F90
include src/trans/internal/tpm_distr.F90
include src/trans/internal/tpm_fft.F90
include src/trans/internal/tpm_fftw.F90
include src/trans/internal/tpm_fields.F90
include src/trans/internal/tpm_flt.F90
include src/trans/internal/tpm_gen.F90
include src/trans/internal/tpm_geometry.F90
include src/trans/internal/tpm_pol.F90
include src/trans/internal/tpm_trans.F90
include src/trans/internal/trgtol_mod.F90
include src/trans/internal/trltog_mod.F90
include src/trans/internal/trltom_mod.F90
include src/trans/internal/trmtol_mod.F90
include src/trans/internal/updsp_mod.F90
include src/trans/internal/updspad_mod.F90
include src/trans/internal/updspb_mod.F90
include src/trans/internal/updspbad_mod.F90
include src/trans/internal/uvtvd_mod.F90
include src/trans/internal/uvtvdad_mod.F90
include src/trans/internal/vd2uv_ctl_mod.F90
include src/trans/internal/vd2uv_mod.F90
include src/trans/internal/vdtuv_mod.F90
include src/trans/internal/vdtuvad_mod.F90
include src/trans/internal/write_legpol_mod.F90
include src/trans/sharedmem/sharedmem.c
include src/trans/sharedmem/sharedmem_mod.F90
include src/transi/CMakeLists.txt
include src/transi/include/ectrans/transi.h
include src/transi/include/ectrans/version.h
include src/transi/transi.c
include src/transi/transi.h
include src/transi/transi_module.F90
include src/transi/version.c.in
include src/transi/version.h
include tests/CMakeLists.txt
include tests/test-install.sh.in
include tests/test_install/CMakeLists.txt
include tests/test_install/main.F90
include tests/test_install/transi_gptosp.c
include tests/test_install/transi_sptogp.c
include tests/trans/test_adjoint.F90
include tests/transi/transi_test.c
include tests/transi/transi_test.h
include tests/transi/transi_test_dirtrans_adjoint.c
include tests/transi/transi_test_invtrans_adjoint.c
include tests/transi/transi_test_io.c
include tests/transi/transi_test_lonlat.c
include tests/transi/transi_test_lonlat_diff_incr.c
include tests/transi/transi_test_memory.c
include tests/transi/transi_test_memory_lonlat.c
include tests/transi/transi_test_program.c
include tests/transi/transi_test_timings.c
include tests/transi/transi_test_vordiv_to_UV.c
exclude MANIFEST.in
